<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div class="container" th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="frame">
                <span class="helper"></span>
                <img src="../img/big-data32.png" th:href="@{/img/big-data32.png}"/>
            </div>
                <!--<div>-->
                <!--Icons made by-->
                <!--<a href="http://www.freepik.com" title="Freepik">Freepik-->
                <!--</a> from-->
                <!--<a href="https://www.flaticon.com/" title="Flaticon">-->
                    <!--www.flaticon.com</a> is licensed by-->
                <!--<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">-->
                    <!--CC 3.0 BY-->
            <!--</a>-->
            <!--</div>-->
            <!--<a class="navbar-brand" href="#">Brand</a>-->
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" th:href="${homeLink.toString()}">Domů</a>
                </li>
                <li>
                    <a href="#" th:href="${recordsLink.toString()}">Dokumenty</a>
                </li>
                <li>
                    <a href="#" th:href="${organizationsLink.toString()}">Organizace</a>
                </li>
                <li>
                    <a href="#" th:href="${apiLink.toString()}">API</a>
                </li>
                <li>
                    <a href="#" th:href="${aboutLink.toString()}">O nás</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>