<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/assets :: headerFragment">
    <title id="pageTitle">Open Data ČR</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <h1 class="header text-center">Při zpracování nastala chyba</h1>
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="row main-page-text">
            <p>
                Omlouváme se ale požadována stránka neexistuje
            </p>
            <a href="#"
               th:href="${homeLink.toString()}"
               class="btn btn-block btn-primary">Pokračovat na stránce Domů</a>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
</body>
</html>